body {
  font-family: Arial, sans-serif;
  background-color: #3a3a3a;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
  justify-content: center;
  margin: 0 auto;
}

.wall {
  background-color: #4682b4;
  border: 2px solid #2d5575;
  border-radius: 5px;
}

.dot,
.power-pellet {
  background-color: #3a3a3a;
  position: relative;
}

.dot::after,
.power-pellet::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.dot::after {
  top: 40%;
  left: 40%;
  width: 6px;
  height: 6px;
  background: #fff;
}

.power-pellet::after {
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: red;
}

.pacman {
  mask-image: url("assets/pacman.png");
  mask-size: 80% 80%;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #fdff00;
  border-radius: 50%;
}

.pacman.look-left {
  transform: scaleX(-1);
}

.pacman.look-up {
  transform: rotate(-90deg);
}

.pacman.look-down {
  transform: rotate(90deg);
}

.ghost.look-up,
.ghost.look-down,
.ghost.look-left {
  transform: none !important;
}

.ghost {
  border-radius: 50%;
  position: relative;
  mask-image: url("assets/ghost.svg");
  mask-size: 90% 90%;
  mask-repeat: no-repeat;
}

.ghost.red {
  background-color: #d03e19;
}

.ghost.pink {
  background-color: #ea82e5;
}

.ghost.orange {
  background-color: #db851c;
}

.ghost.blue {
  background-color: #46bfee;
}

.ghost.scared {
  background-color: blue;
}

.pacman::after,
.ghost::after {
  inset: 0;
  background: none;
}

.backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100 * 100;
  background: #3a3a3a98;
  display: none;
  justify-content: center;
  align-items: start;
  margin-top: 100;
}

.flex {
  display: flex !important;
}

.modal {
  width: 250px;
  background: #fff;
  margin-top: 150px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 10px 15px -3px #000000a8;
  color: #3a3a3a;
}

.modal h5{
  margin: 0px;
  margin-bottom: 20px;
  font-weight: bolder !important;
  font-size: 15pt;
  color: #2d5575;
}

.modal p {
  margin: 0px;
  margin-bottom: 20px;
}

.modal button {
  border: none;
  background: #2d5575;
  color: #fff;
  padding: 5px 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -3px #00000059;
  cursor: pointer;
}

.modal button:hover {
  box-shadow: none !important;
}
